python-telegram-bot==11.1.0
astroid==2.1.0
async-timeout==3.0.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
decorator==4.3.0
idna==2.8
idna-ssl==1.1.0
imageio==2.4.1
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
moviepy==0.2.3.5
multidict==4.5.2
numpy==1.15.4
Pillow==6.2.0
pycparser==2.19
pylint==2.2.2
pytube==9.3.5
pytz==2018.7
requests==2.21.0
six==1.12.0
SoundFile==0.10.2
tqdm==4.28.1
typed-ast==1.1.1
typing-extensions==3.6.6
urllib3==1.26.5
wrapt==1.10.11
yarl==1.3.0
git+https://github.com/nficano/pytube.git
